<header id="header" class="header bg-white">
    <div class="navbar-container">
        <a href="{{ '/' | prepend: site.baseurl }}" class="navbar-logo">
            <img src="{{ '/style/image/logo.png' | prepend: site.baseurl }}" alt="{{ site.name }}" />
            <span>{{ site.name }}</span>
        </a>
        <div class="navbar-menu">
            <a href="{{ 'https://alfredamboka.github.io/AggesWebsiteChallenge2021/index.html' | prepend: site.baseurl }}">AGGES</a>
            <a href="{{ 'https://alfredamboka.github.io/AggesWebsiteChallenge2021/index.html' | prepend: site.baseurl }}">Home</a>
            <a href="{{ 'http://eepurl.com/hRGDVn' | prepend: site.baseurl }}">Membership</a>
            <a href="{{ '/archives' | prepend: site.baseurl }}">Archives</a>
            <a href="{{ '/events' | prepend: site.baseurl }}">Weekly Events</a>
            <a href="{{ '/about' | prepend: site.baseurl }}">About</a>
        </div>
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <li><a href="{{ 'https://alfredamboka.github.io/AggesWebsiteChallenge2021/index.html' | prepend: site.baseurl }}">AGGES</a></li>
                <li><a href="{{ 'https://alfredamboka.github.io/AggesWebsiteChallenge2021/index.html' | prepend: site.baseurl }}">Home</a></li>
                <a href="{{ 'http://eepurl.com/hRGDVn' | prepend: site.baseurl }}">Membership</a>
                <li><a href="{{ '/archives' | prepend: site.baseurl }}">Archives</a></li>
                <a href="{{ '/events' | prepend: site.baseurl }}">Weekly Events</a>
                <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
            </ul>
        </div>
    </div>
</header>